body{
    background-color:rgba(0, 0, 0 ,0.9);
    color: white;
}
nav{
    display: flex;
    justify-content: space-between;
}
nav a{
    text-decoration: none;
    color: white;
    margin-top: 30px;
}
.Home{
    margin-left: 850px;
}
h2{
    color:  rgba(0, 110, 255);
}
.parent{
    display: flex;
    justify-content: space-around;
}
img{
    padding: 30px;
}
.bb{
    margin: 15px;
    background-color: rgba(0, 0, 0 ,0.205); 
    width: 350px;
    height: 400px;
    border-radius: 20px;
    padding: 20px;
    
}
.mm{
    margin: 15px;
    background-color: rgba(0, 0, 0 ,0.205); 
    width: 350px;
    height: 400px;
    border-radius: 20px;
    padding: 20px;

}
.ee{
    margin: 15px;
    background-color: rgba(0, 0, 0 ,0.205); 
    width: 350px;
    height: 400px;
    border-radius: 20px;
    padding: 20px;
}
.button{
    background-color: black;
    color: white;
    border-color:  rgba(0, 110, 255); 
    width: 100px;
    height: 40px;
    border-radius: 10px;


}