body{
    background-color:rgba(0, 0, 0 ,0.9);
    color: white;
    padding: 15px;
}

nav a{
    color: blue;
    margin-bottom: 400px;

}
ul{
    display: grid;
    justify-content: flex-end;
    color: white;

}
.ttt{
    display: flex;
    justify-content: space-between;

}
.div3{
    margin-left: 350px;
    margin-bottom: 20px;

}
.div3 p{
    margin-left: 30px;
}
.div3 h2{
    margin-left: 30px;
}
form{
     background-color: rgba(0, 0, 0 ,0.205); 
    border-radius: 15px;
    width: 500px;
    height: 300px;
    padding: 10px;
    margin-left: 40px;
}
.name{
    background-color: white;
    width: 500px;
    height: 30px;
    border: none;
    border-radius: 7px;
}
.email{
    background-color: white;
    width: 500px;
    height: 30px;
    border: none;
    border-radius: 7px;
}
.subject{
    background-color: white;
    width: 500px;
    height: 30px;
    border: none;
    border-radius: 7px;
}
.massage{
    background-color: white;
    width: 500px;
    height: 70px;
    border: none;
    border-radius: 7px;
}
.button{
    width: 450px;
    height: 30px;
    background-color: rgba(0, 110, 255);
    color: white;
    font-size: larger;
    font-weight: bold;
    border: none;
    border-radius: 10px;
}
.div5{
     background-color: rgba(0, 0, 0 ,0.205); 
    border-radius: 15px;
    width: 300px;
    height: 350px;
    padding: 10px;
    margin-right: 30px;
    margin-top: 80px;
    

}